# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build output directories
/bin/
/build/
/dist/

# Ignore Python virtual environment
venv/

# Ignore Steven's personal todo list
todo.txt

# Ignore experimental stuff that I'm not ready to commit
experimental.py